@use '../base/variables' as *
@use '../base/mixins' as *

.section-title
  display: flex
  align-items: center
  padding-top: $p-md

  h2
    white-space: nowrap

  .divider
    flex: 1
    height: 1px
    background-color: currentColor
    opacity: 0.1