html, * {
  box-sizing: border-box;
  font-size: 62.5%;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  color: rgba(210, 213, 207, 0.8666666667);
  font-family: Arial, Helvetica, sans-serif;
}

svg {
  width: 4rem;
  cursor: pointer;
}

a {
  text-decoration: none;
}

*, *::before, *::after {
  box-sizing: border-box;
}

*:not(dialog) {
  margin: 0;
}

h1 {
  font-size: 10rem;
  font-weight: 800;
}

h2 {
  font-size: 4rem;
  font-weight: 700;
}

h3 {
  font-size: 2rem;
}

p {
  font-size: 1.5rem;
}

body {
  background: #0d0a1a !important;
}

.wrapper {
  display: flex;
  justify-content: center;
}

.active {
  background: rgba(170, 221, 136, 0.8666666667);
  color: black !important;
  margin: 0 1rem;
  transition: margin 0.2s ease-in-out;
}

.main-layout {
  display: flex;
  gap: 1rem;
  padding: 5rem;
  max-width: 1400px;
}
@media (max-width: 1000px) {
  .main-layout {
    font-size: 2rem;
    flex-wrap: wrap;
    justify-content: center;
  }
}

.main-content {
  width: 55%;
}
@media (max-width: 1000px) {
  .main-content {
    width: 100%;
  }
}

.intro {
  position: relative;
}
@media (max-width: 1000px) {
  .intro {
    padding-top: 4rem;
  }
}
.intro p {
  font-size: 2rem;
  line-height: 3rem;
}
.intro p:not(:first-child) {
  padding-top: 3rem;
}
.intro p:first-child {
  padding-top: 12rem;
}

.bold {
  font-weight: 700;
  font-size: 2.3rem;
}

.header-container {
  position: relative;
  width: 45%;
}
.header-container .header {
  transform: translateY(12.5rem);
  position: fixed;
}
@media (max-width: 1000px) {
  .header-container .header {
    display: block;
    position: unset;
  }
}
.header-container .flex {
  gap: 2rem;
  display: flex;
  flex-direction: column;
}
.header-container h1 {
  font-size: 5rem;
  line-height: 1;
  transform: translate(-5px, 0);
}
@media (max-width: 1000px) {
  .header-container h1 {
    font-size: 5rem;
    max-width: 100%;
  }
}
.header-container h2 {
  padding: 0;
  font-size: 3rem;
}
@media (max-width: 1000px) {
  .header-container h2 {
    max-width: 100%;
    font-size: 3rem;
  }
}
.header-container p {
  max-width: 70%;
  font-size: 1.9rem;
}
.header-container .menu ul {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
}
.header-container .menu ul li {
  margin: 0 -1rem;
}
.header-container .menu ul li a {
  padding: 1rem;
  inset: -1rem -2rem;
  border-radius: 0.5rem;
  transition: margin 0.2s ease-in-out;
}
.header-container .menu ul li a:active {
  margin: 0 1.5rem;
}
.header-container .menu ul li a:hover {
  margin: 0.5rem;
}

.experience, .projects {
  padding-top: 4rem;
}
@media (max-width: 1000px) {
  .experience, .projects {
    padding-top: 2rem;
  }
}
.experience .link, .projects .link {
  position: absolute;
  inset: -1rem -2rem;
  z-index: 5;
}
.experience .exp-item-wrapper, .projects .exp-item-wrapper {
  position: relative;
  margin-top: 4rem;
}
.experience .expand, .projects .expand {
  position: absolute;
  inset: -1rem -2rem;
  border-radius: 1rem;
  background: rgba(136, 221, 136, 0.8666666667);
  opacity: 0;
  transition: opacity 0.2s ease-in-out;
  z-index: 0;
}
.experience .exp-item, .projects .exp-item {
  z-index: 5;
  display: flex;
  padding: 1rem 0;
}
@media (max-width: 1000px) {
  .experience .exp-item, .projects .exp-item {
    flex-wrap: wrap;
    position: relative;
    width: 100%;
  }
}
.experience .exp-item .exp-time, .projects .exp-item .exp-time {
  min-width: 20%;
  font-size: 1.5rem;
}
@media (max-width: 1000px) {
  .experience .exp-item .exp-time, .projects .exp-item .exp-time {
    font-size: 1.8rem;
    font-weight: 700;
  }
}
.experience .exp-item .exp-info, .projects .exp-item .exp-info {
  width: auto;
  padding-left: 2rem;
}
@media (max-width: 1000px) {
  .experience .exp-item .exp-info, .projects .exp-item .exp-info {
    padding: 0;
  }
}
.experience .exp-item .exp-info .title, .projects .exp-item .exp-info .title {
  font-size: 1.5rem;
  font-weight: 700;
  text-align: left;
}
.experience .exp-item .exp-info .desc, .projects .exp-item .exp-info .desc {
  line-height: 2rem;
  padding-top: 1rem;
  font-size: 1.5rem;
}
.experience .exp-item .exp-info .exp-tech, .projects .exp-item .exp-info .exp-tech {
  display: flex;
  gap: 0.5rem;
  padding-top: 2rem;
  font-size: 2rem;
  flex-wrap: wrap;
}
.experience .exp-item .exp-info .exp-tech .tech-icon, .projects .exp-item .exp-info .exp-tech .tech-icon {
  color: rgba(170, 221, 136, 0.8666666667);
  padding: 0.5rem 1rem;
  border-radius: 1rem;
  font-weight: 700;
  font-size: 1.3rem;
  background: rgb(2, 37, 31);
}

.resume-link {
  padding-top: 4rem;
}

.resume-link a:link, a:visited {
  font-size: 1.5rem;
  text-decoration: none;
  color: inherit;
}

.exp-item-wrapper:hover .expand {
  opacity: 0.1;
}

.built-with {
  display: flex;
  place-items: center;
  padding-top: 3rem;
  font-size: 1.5rem;
}

.menu {
  font-size: 6rem;
  transition: text-decoration 200ms ease-in-out;
  margin-top: 7rem;
}
@media (max-width: 1000px) {
  .menu {
    display: none;
  }
}

a {
  font-size: 2rem;
}

.title {
  outline: none;
  padding-bottom: 1rem;
  text-align: center;
}
.title ul {
  display: flex;
  padding: 1rem;
  justify-content: space-evenly;
  list-style-type: none !important;
}
.title ul a {
  transition: color 0.3s ease-in-out;
  cursor: pointer;
  padding: 1rem 2rem;
  color: gray;
}
.title ul a:hover {
  background-color: red;
}

/*# sourceMappingURL=main.css.map */
