@use '../base/variables' as *

.badge
  display: inline-flex
  align-items: center
  gap: $spacing-1
  padding: $spacing-0_5 $spacing-2
  border-radius: $rounded-full
  font-size: $font-size-xs
  font-weight: $font-weight-medium
  line-height: $line-height-normal

.badge-lg
  padding: $spacing-2 $spacing-4
  border-radius: $rounded-2xl
  font-size: $font-size-sm
  font-weight: $font-weight-bold
  line-height: 1.25rem

.badge-accent
  background-color: $color-accent-bg
  color: $color-accent