@use 'variables' as v 

body 
  background: v.$color-primary !important

.resume-link 
    font-family: monspace
    margin-bottom: 3rem
    text-decoration: underline
    
.wrapper
  display: flex
  justify-content: center

.active
  background: #ad8d
  color: black !important
  transition: margin .2s ease-in-out
  margin: 0 1rem

.main-layout
  display: flex
  gap: 1rem
  padding: 5rem
  max-width: 1400px
  @media (max-width: v.$breakpoint)
    font-size: 2rem
    flex-wrap: wrap
    justify-content: center

.main-content
  width: 55%
  @media (max-width: v.$breakpoint)
    width: 100%

.intro 
  position: relative
  
  @media (max-width: v.$breakpoint)
    padding-top: v.$p-md

  p
    font-size: 2rem
    line-height: 3rem
    &:not(:first-child)
      padding-top: 3rem
    &:first-child
      padding-top: 12rem
      @media (max-width: v.$breakpoint)
        padding-top: 2rem
         
    
.bold 
    font-weight: 700
    font-size: 2.3rem

.header-container
  position: relative
  width: 45%
  @media (max-width: v.$breakpoint)
    width: 100%
  .header
    transform: translateY(12.5rem)
    position: fixed
    @media (max-width: v.$breakpoint)
      display: block
      position: unset
      transform: unset
  .flex 
    gap: 2rem
    display: flex
    flex-direction: column
  h1
    // max-width: 50%
    font-size: 5rem
    line-height: 1
    transform: translate(-5px, 0)

    @media (max-width: v.$breakpoint)
      font-size: 5rem
      max-width: 100%

  h2
    padding: 0
    font-size: 3rem
    @media (max-width: v.$breakpoint)
      max-width: 100%
      font-size: 3rem
  p 
    max-width: 70%
    font-size: 1.9rem
  .menu ul
    margin-top: 1rem
    display: flex
    flex-direction: column
    gap: 2.5rem
    
    li 
      margin: 0 -1rem
      a 
        padding: 1rem
        inset: -1rem -2rem
        border-radius: .5rem
        transition: margin .2s ease-in-out
        &:active 
        
          margin: 0 1.5rem
        &:hover 
          margin: .5rem

.beacon
    display: flex !important
    flex-direction: column !important
    gap: 1rem
    
    
.experience, .projects
  padding-top: v.$p-sm


  #beacon
    min-width: 60rem
    @media (max-width: v.$breakpoint)
      min-width: unset
      
  img 
    max-width: 275px
      

  .link
    position: absolute
    inset: -1rem -2rem
    z-index: 5

  .exp-item-wrapper
    position: relative
    margin-top: 4rem

  // req for hover effect
  .expand
    position: absolute
    inset: -1rem -2rem
    border-radius: 1rem
    background: #8d8d
    opacity: 0
    transition: opacity 0.2s ease-in-out
    z-index: 0

      
  .exp-item
    z-index: 5
    display: flex
    padding: 1rem 0
    @media (max-width: v.$breakpoint)
      flex-wrap: wrap
      position: relative
      width: 100%
      gap: 1rem

    .beacon 
      display: flex
      flex-direction: column
      gap: 2rem

    .exp-time
      min-width: 20%
      font-size: 1.5rem
      font-familyl: monospace
      @media (max-width: v.$breakpoint)
        font-size: 1.8rem

        font-weight: 700

    .exp-info
      width: auto
      padding-left: 2rem
      @media (max-width: v.$breakpoint)
        padding: 0

      .title
        font-size: 2rem
        font-weight: 700
        text-align: left

      .desc
        line-height: 2rem
        padding-top: 1rem
        font-size: 1.5rem

      .exp-tech
        display: flex
        gap: .5rem
        padding-top: 2rem
        font-size: 2rem
        flex-wrap: wrap

        .tech-icon
          color: #ad8d
          padding: .5rem 1rem
          border-radius: 1rem
          font-weight: 700
          font-size: 1.3rem

          background: rgb(2, 37, 31)
.resume-link 
  padding-top: 4rem
  
  a
    font-family: monospace
    font-size: 2rem

  @media (max-width: v.$breakpoint)
    font-size: 1.5rem  


.resume-link a:link, a:visited
  text-decoration: none
  color: inherit


.exp-item-wrapper:hover .expand
  opacity: .1

.built-with
  display: flex
  place-items: center
  padding-top: 3rem
  font-size: 1.5rem
  font-family: monospace

.menu
  font-size: 6rem
  transition: text-decoration 200ms ease-in-out
  margin-top: 7rem
  @media (max-width: v.$breakpoint)
    display: none

a
  font-size: 2rem

.title
  outline: none
  padding-bottom: 1rem
  text-align: center
  font-family: monospace

  ul
    display: flex
    padding: 1rem
    justify-content: space-evenly
    list-style-type: none !important
    a
      transition: color 0.3s ease-in-out
      cursor: pointer
      padding: 1rem 2rem
      color: gray
      &:hover
        background-color: red

